<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>ejs渲染</h1>

        <h3>姓名:<%= name%></h3>
        <h3>年龄:<%= age%></h3>
        <h3>性别:<%= sex%></h3>
        有:
        <% have.forEach(item=>{ %>
            <input type="checkbox" name="have"><%= item%>
        <%})%>
    
</body>
</html>